.list-item,.list-item:hover{
    padding: 10px 25px;
    list-style: none;
    height: 80px;
    display: grid;
    border-bottom: 1px solid chocolate;
    grid-template-columns: auto 200px;
    grid-template-rows: auto auto auto;
    margin: 0 8px;
}
.list-item:hover{
    border: none;
    border-bottom: 1px solid chocolate;
}
.p{
display: block;
margin: 0 0;
color: white;
width: 80%;
grid-column: 1;
}

.input-form{
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}