.card{
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    width: 350px;
    display: inline-block;
}
.absolute{
    position: absolute;
    z-index: 10;
}